<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ChainLaundry-处理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body>
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
              <form class="layui-form">
                  <div class="layui-form-item">
                      <label for="mId" class="layui-form-label" style="width: 90px">
                      在库物资编号
                     </label>
                      <div class="row cl layui-input-inline">
                          <input type="text" id="mId" name="mId"  class="layui-input" th:value="${mIdList}">
<!--                          <select id="mId"  name="mId" multiple="multiple" >-->
<!--                              <option th:each="${mIds}" th:value="${mIds}">[[${mIdMap.mId}]]</option>-->
<!--                          </select>-->
                      </div>
                  </div>
                  <div class="layui-form-item" >
                      <label for="maxNumber" class="layui-form-label" style="width: 90px">
                         数量最大值
                      </label>
                      <div class="layui-input-inline">
                          <input type="number" id="maxNumber" name="maxNumber"  class="layui-input" th:value="${max}" readonly>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="minNumber" class="layui-form-label" style="width: 90px">
                          数量最小值
                      </label>
                      <div class="layui-input-inline">
                          <input type="number" id="minNumber" name="minNumber"  class="layui-input" th:value="${min}" readonly>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="selectNumber" class="layui-form-label" style="width: 90px">
                          选择出库数量
                      </label>
                      <div class="layui-input-inline">
                          <input type="number" id="selectNumber" name="selectNumber"  class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span>注：若选择的物资>1，则出库方式为批量出库；若选择的物资=1，则出库方式为单一出库</span>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label  class="layui-form-label">
                      </label>
                      <button class="layui-btn"  type="button" id="chuku" style="background: goldenrod">
                          <i class="layui-icon">&#xe650;</i> 开始出库</button>
                  </div>
              </form>
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <script>
        //处理
        $(document).ready(function () {
            $("#chuku").click(function () {
                var mId = document.getElementById("mId").value+",";
                var selectNumber = document.getElementById("selectNumber").value;
                alert(mId);
                $.ajax({
                    type:"post",
                    url:"/ruK",
                    data: {
                        mId       ,
                        selectNumber
                    },
                    success:function (data) {
                        if(data == "success"){
                            layer.msg("入库成功！");
                            // window.location.reload();
                            // setTimeout('window.location.href="/queryMaterialInfo"',3000)
                        }else if(data == "fail"){
                            layer.msg("入库失败！系统异常")
                        }
                    },
                    error:function(res){
                        console.log(res)
                    }
                })
            })
        });




    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</body>
</html>