<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ChainLaundry-前台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <style>

        .formItme {
            width: 49%;
            display: inline-block;
        }

        .login-box {
            width: 310px;
            height: 250px;
            padding: 20px 15px 15px;
            background-color: rgba(0, 0, 0, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.3);
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="logo"><a href="./index.html">连锁洗衣店管理系统</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item"><a href="/login">登录首页</a></li>
    </ul>
</div>
<div class="login-logo"><h1>ChainLaundry注册第一步</h1></div>
<div class="login-box" style="width: 520px; padding-bottom: 50px">
    <div>
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">身份选择</label>
                <div class="layui-input-block">
                    <select name="method" class="layui-select" id="method">
                        <option>我是用户</option>
                        <option>我是员工</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div style="text-align: center">
        <a class="btn btn-warning pull-right" lay-submit lay-filter="nextStep" type="button" id="nextStep">下一步</a>
    </div>
</div>
<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="./images/a.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/b.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/c.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/d.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/e.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/f.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/g.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/h.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/i.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/j.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/k.jpg" alt=""></div>
            <div class="swiper-slide"><span class="reset">初始化</span></div>
        </div>
    </div>
    <div class="bg-out"></div>
    <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
</div>
<script>
    function code() {
        var NUM = "";
        for (var i = 10; i <= 50; i++) {
            NUM = Math.floor(Math.random() * 50 + 10);
        }
        document.getElementById("money").value = NUM;
    }

    <!-- 注册 -->
    $(document).ready(function () {
        $("#nextStep").click(function () {
            var method = document.getElementById("method").value;
            if (method == "我是员工") {
                window.location.href = "/queryAllLaundryInfo"
            } else {
                window.location.href = "/registerXD"
            }

        })
    });
</script>
<script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>