<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ChainLaundry-主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="/index">连锁洗衣店管理系统</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">

        <li class="layui-nav-item">
            <a href="javascript:;">
                <img th:src="${imageMap.get('image')}" class="layui-nav-img"/>
                <span th:text="${imageMap.get('user_name')}"></span>
            </a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <!--                <dd><a href="">个人信息</a></dd>-->
                <dd><a href="/login" type="button" id="change">切换帐号</a></dd>
                <dd><a href="/login">退出</a></dd>
            </dl>
        </li>
        <!--        <li class="layui-nav-item"><a href="/">前台首页</a></li>-->
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav" lay-shrink="all">
                <li class="list" current>
                    <a href="/index">
                        <i class="iconfont">&#xe761;</i>
                        欢迎页面
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list" th:hidden="${userMap.get('user_type')} == '普通管理员'? false:true ">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                        用户管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu ">
                        <li>
                            <a href="/queryUserList">
                                <i class="iconfont">&#xe6a7;</i>
                                用户列表
                            </a>
                        </li>
                        <li>
                            <a href="/userInfo">
                                <i class="iconfont">&#xe6a7;</i>
                                个人信息
                            </a>
                        </li>
                        <li>
                            <a href="/updatePwd">
                                <i class="iconfont">&#xe6a7;</i>
                                修改密码
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" th:hidden="${userMap.get('user_type')} == '超级管理员'? false:true ">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        连锁店管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" >
                        <li>
                            <a href="/laundryList">
                                <i class="iconfont">&#xe6a7;</i>
                                连锁店列表
                            </a>
                        </li>
                        <li>
                            <a href="/settleIn">
                                <i class="iconfont">&#xe6a7;</i>
                                入驻管理
                            </a>
                        </li>
                        <li>
                            <a href="/location">
                                <i class="iconfont">&#xe6a7;</i>
                                定位管理
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" th:hidden="${userMap.get('user_type')} == '超级管理员'? false:true ">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        物资管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" style="display:none">
                        <li>
                            <a href="/queryMaterialInfo">
                                <i class="iconfont">&#xe6a7;</i>
                                物资列表
                            </a>
                        </li>
                        <li>
                            <a href="/ruWarehouse">
                                <i class="iconfont">&#xe6a7;</i>
                                入库管理
                            </a>
                        </li>
                        <li>
                            <a href="/chuWarehouse">
                                <i class="iconfont">&#xe6a7;</i>
                                出库管理
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        公告管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" >
                        <li>
                            <a href="/notice">
                                <i class="iconfont">&#xe6a7;</i>
                                轮播展示
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" th:hidden="${userMap.get('user_type')} == '超级管理员'? true:false ">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        订单管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened" >
                        <li>
                            <a href="/queryOrderInfo">
                                <i class="iconfont">&#xe6a7;</i>
                                订单列表
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->

        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
              <fieldset class="layui-elem-field layui-field-title site-title">
                  <legend><a name="default">订单处理</a></legend>
              </fieldset>
            <form class="layui-form-pane">
                <div class="layui-form-pane" style="text-align: center;">
                  <div class="layui-form-item" style="display: inline-block;">
                      <label class="layui-form-label xbs768">查询</label>
                    <div class="layui-input-inline">
                        <input type="text"  placeholder="根据订单状态查询" autocomplete="on" class="layui-input" id="state">
                    </div>
                    <div class="layui-input-inline" style="width:80px">
                        <a class="layui-btn"  lay-filter="search" id="search" type="submit" ><i class="layui-icon">&#xe615;</i></a>
                    </div>
                  </div>
                </div> 
            </form>
            <xblock>
                <button class="layui-btn layui-btn-danger" id="handle" style="background-color: brown">
                    <i class="layui-icon">&#xe650;</i>批量处理</button>
                <a class="layui-btn layui-btn-danger" href="/queryOrderInfo" style="background-color: sandybrown">
                    <i class="layui-icon">&#xe650;</i>刷新</a>
                <span class="x-right">
                     共有数据：<span style="color: #dddddd" th:text="${pageInfo.total}"></span>
                    &nbsp;条
                </span>

            </xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAll">
                        </th>
                        <th>
                            订单编号
                        </th>
                        <th>
                            下单人
                        </th>
                        <th>
                            联系方式
                        </th>
                        <th>
                            下单时间
                        </th>
                        <th>
                            下单地址
                        </th>
                        <th>
                            备注
                        </th>
                        <th>
                            支付方式
                        </th>
                        <th>
                            总计
                        </th>
                        <th>
                            订单状态
                        </th>
                    </tr>
                </thead>
                <tbody id="checkOne">
                    <tr th:each="order:${pageInfo.list}">
                        <td>
                            <input type="checkbox" th:value="${order.get('id')}"/>
                        </td>
                        <td th:text="${order.get('id')}" id="userId">
                        </td>
                        <td th:text="${order.get('user')}">
                        </td>
                        <td th:text="${order.get('phone')}">
                        </td>
                        <td th:text="${order.get('time')}">
                        </td>
                        <td th:text="${order.get('address')}">
                        </td>
                        <td th:text="${order.get('note')}">
                        </td>
                        <td th:text="${order.get('method')}">
                        </td>
                        <td th:text="${order.get('total')}">
                        </td>
                        <td th:text="${order.get('sName')}">
                        </td>
                    </tr>
                </tbody>
            </table>
              <div class="page">
                  <ul class="pagination">
                      <li><a th:href="@{'?page='+${pageInfo.prePage}}">上一页</a></li>
                      <li th:each="nums:${pageInfo.navigatepageNums}"><a th:href="@{'?page='+${nums}}" th:text="${nums}"></a></li>
                      <li><a th:href="@{'?page='+${pageInfo.nextPage}}">下一页</a></li>
                  </ul>
              </div>
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Welcome to chain laundry management system .    欢迎使用连锁洗衣店管理系统</div>
    </div>
    <!-- 底部结束 -->
    <!-- 背景切换开始 -->
    <div class="bg-changer">
        <div class="swiper-container changer-list">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="item" src="./images/a.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/b.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/c.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/d.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/e.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/f.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/g.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/h.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/i.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/j.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/k.jpg" alt=""></div>
                <div class="swiper-slide"><span class="reset">初始化</span></div>
            </div>
        </div>
        <div class="bg-out"></div>
        <div id="changer-set"><i class="iconfont">&#xe696;</i></div>   
    </div>
    <!-- 背景切换结束 -->
    <!-- 页面动态效果 -->
    <script>
    // --模糊查询----------------------------------------------------------------------------------------------------------------------------------------------------
    $(document).ready(function () {
        $("#search").click(function () {
            var state = document.getElementById("state").value;
            if (state == null || state == "" || state == undefined) {
                layer.alert("输入内容不能为空！");
            } else {
                window.location.href = "queryOrderInfoByState/"+state
            }
        });
    });
    //获取事件源
    var del = document.getElementById("handle");
    var checkAll = document.getElementById("checkAll");
    var checkOnes = document.getElementById("checkOne").querySelectorAll('input');
    //添加点击事件------------------------------------------------------------------------------------------------------------------------------------------------
    $("#handle").click(function () {
        var orderIdNum = $("input[type='checkbox']:checked").length;
        if (orderIdNum <= 0) {
            layer.alert("请选择你要处理的订单");
        } else {
            var orderIds = new Array();
            $("input[type='checkbox']:checked").each(function () {
                orderIds.push($(this).val());
            });
            orderIds= orderIds.filter((x) => x !== 'on');
            setTimeout(window.location.href = "handleState?orderIds="+orderIds,3000);
        }
    });
    //-----复选框全选------------------------------------------------------------------------------------------------------------------------------------------------------
    //点击全选按钮，下面所有的按钮的状态跟随全选按钮的状态
    checkAll.onclick = function () {
        //tbody里面每一个按钮都没选中 for循环每个
        for(var i=0;i<checkOnes.length;i++){
            checkOnes[i].checked = checkAll.checked;
        }
    };
    //小按钮点击事件
    for(var i=0;i<checkOnes.length;i++){
        checkOnes[i].onclick = function () {
            //检测全选按钮的状态，默认没有选中
            var flag = false;
            for(var i=0;i<checkOnes.length;i++){
                //按钮中有一个没选择
                if(!checkOnes[i].checked){
                    flag = false;
                    break;
                }
            }
            //检测完之后设置全选按钮的状态
            checkAll.checked = flag;
        }
    }
    //----------------------------------------------------------------------------------------------------------------------------------------------------------------
        //百度统计可去掉
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
<style>
    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {display: inline;}

    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

    ul.pagination li a.active {
        background-color: #4CAF50;
        color: white;
    }

    ul.pagination li a:hover:not(.active) {background-color: #ddd;}
</style>
</body>
</html>