<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ChainLaundry-主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="/index">连锁洗衣店管理系统</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">

        <li class="layui-nav-item">
            <a href="javascript:;">
                <img th:src="${imageMap.get('image')}" class="layui-nav-img"/>
                <span th:text="${imageMap.get('user_name')}"></span>
            </a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <!--                <dd><a href="">个人信息</a></dd>-->
                <dd><a href="/login" type="button" id="change">切换帐号</a></dd>
                <dd><a href="/login">退出</a></dd>
            </dl>
        </li>
        <!--        <li class="layui-nav-item"><a href="/">前台首页</a></li>-->
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav" lay-shrink="all">
                <li class="list" current>
                    <a href="/index">
                        <i class="iconfont">&#xe761;</i>
                        欢迎页面
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                        用户管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened">
                        <li>
                            <a href="/queryUserList">
                                <i class="iconfont">&#xe6a7;</i>
                                用户列表
                            </a>
                        </li>
                        <li>
                            <a href="/userInfo">
                                <i class="iconfont">&#xe6a7;</i>
                                个人信息
                            </a>
                        </li>
                        <li>
                            <a href="/updatePwd">
                                <i class="iconfont">&#xe6a7;</i>
                                修改密码
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        连锁店管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" >
                        <li>
                            <a href="/laundryList">
                                <i class="iconfont">&#xe6a7;</i>
                                连锁店列表
                            </a>
                        </li>
                        <li>
                            <a href="/settleIn">
                                <i class="iconfont">&#xe6a7;</i>
                                入驻管理
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        物资管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" style="display:none">
                        <li>
                            <a href="./banner-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                物资列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        出入库管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" style="display:none">
                        <li>
                            <a href="./banner-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                物资状态
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->

    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                <legend>修改密码</legend>
            </fieldset>
            <form class="">
                <div class="layui-form-item">
                    <label for="userId" class="layui-form-label">
                        昵称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="userId" name="username"  th:value="${userMap.get('user_id')}" class="layui-input" readonly >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="oldpass" class="layui-form-label">
                        <span class="x-red">*</span>旧密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" id="oldpass" name="oldpass" required="required" lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="newpass" class="layui-form-label">
                        <span class="x-red">*</span>新密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" id="newpass" name="newpass" required="required" lay-verify="required"
                               autocomplete="off" class="layui-input" onkeyup="sixNumber()">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span id="xshi"></span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="repass" class="layui-form-label">
                        <span class="x-red">*</span>确认密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" id="repass" name="repass" required="required" lay-verify="required"
                               autocomplete="off" class="layui-input" onkeyup="check()">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span id="tishi"></span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="save" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" id="save" type="button">
                        保存
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Welcome to chain laundry management system .    欢迎使用连锁洗衣店管理系统</div>
</div>
<!-- 底部结束 -->
<!-- 背景切换开始 -->
<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="./images/a.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/b.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/c.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/d.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/e.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/f.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/g.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/h.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/i.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/j.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/k.jpg" alt=""></div>
            <div class="swiper-slide"><span class="reset">初始化</span></div>
        </div>
    </div>
    <div class="bg-out"></div>
    <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
</div>
<!-- 背景切换结束 -->
<!-- 页面动态效果 -->
<script>
    //两次输入密码
    function check(){
        var newpass = document.getElementById("newpass").value;
        var repass = document.getElementById("repass").value;
        if(newpass == repass){
            document.getElementById("tishi").innerHTML="<br><font color='green'>两次密码输入一致</font>";
        }else {
            document.getElementById("tishi").innerHTML="<br><font color='red'>两次输入密码不一致!</font>"
        }
    }
//判断密码长度
    function sixNumber(){
        var newpass = document.getElementById("newpass").value;
        if(newpass.length >= 6 && newpass.length <= 12){
            document.getElementById("xshi").innerHTML="<br><font color='green'>密码合法</font>";
        }else {
            document.getElementById("xshi").innerHTML="<br><font color='red'>密码长度必须在6-12位!</font>";
        }
    }

    $(document).ready(function () {
        $("#save").click(function () {
            //获取信息
            var userId = document.getElementById("userId").value;
            var userPwd = document.getElementById("repass").value;
            $.ajax({
                type:"post",
                url:"/updatePassword",
                data: {
                    userId,
                    userPwd
                },
                success:function (data) {
                    if(data == "success"){
                        layer.msg("您的密码已修改，系统将在3秒后跳转到登录页面！");
                        setTimeout('window.location.href = "/login";',3000);

                    }else if(data == "fail"){
                        layer.msg("修改失败！系统异常")
                    }
                },
                error:function(res){
                    console.log(res)
                }
            })
        })
    });


    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<style>
</style>
</body>
</html>