<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ChainLaundry-主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="/index">连锁洗衣店管理系统</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">

        <li class="layui-nav-item">
            <a href="javascript:;">
                <img th:src="${imageMap.get('image')}" class="layui-nav-img"/>
                <span th:text="${imageMap.get('user_name')}"></span>
            </a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <!--                <dd><a href="">个人信息</a></dd>-->
                <dd><a href="/login" type="button" id="change">切换帐号</a></dd>
                <dd><a href="/login">退出</a></dd>
            </dl>
        </li>
        <!--        <li class="layui-nav-item"><a href="/">前台首页</a></li>-->
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav" lay-shrink="all">
                <li class="list" current>
                    <a href="/index">
                        <i class="iconfont">&#xe761;</i>
                        欢迎页面
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                        用户管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened">
                        <li>
                            <a href="/queryUserList">
                                <i class="iconfont">&#xe6a7;</i>
                                用户列表
                            </a>
                        </li>
                        <li>
                            <a href="/userInfo">
                                <i class="iconfont">&#xe6a7;</i>
                                个人信息
                            </a>
                        </li>
                        <li>
                            <a href="/updatePwd">
                                <i class="iconfont">&#xe6a7;</i>
                                修改密码
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" th:hidden="${userMap.get('user_type')} == '超级管理员'? false:true ">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        连锁店管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" >
                        <li>
                            <a href="/laundryList">
                                <i class="iconfont">&#xe6a7;</i>
                                连锁店列表
                            </a>
                        </li>
                        <li>
                            <a href="/settleIn">
                                <i class="iconfont">&#xe6a7;</i>
                                入驻管理
                            </a>
                        </li>
                        <li>
                            <a href="/location">
                                <i class="iconfont">&#xe6a7;</i>
                                定位管理
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" th:hidden="${userMap.get('user_type')} == '超级管理员'? false:true ">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        物资管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" style="display:none">
                        <li>
                            <a href="/queryMaterialInfo">
                                <i class="iconfont">&#xe6a7;</i>
                                物资列表
                            </a>
                        </li>
                        <li>
                            <a href="/ruWarehouse">
                                <i class="iconfont">&#xe6a7;</i>
                                入库管理
                            </a>
                        </li>
                        <li>
                            <a href="/chuWarehouse">
                                <i class="iconfont">&#xe6a7;</i>
                                出库管理
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        公告管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" >
                        <li  th:hidden="${userMap.get('user_type')} == '普通员工'? true:false ">
                            <a href="/queryNoticeList">
                                <i class="iconfont">&#xe6a7;</i>
                                发布公告
                            </a>
                        </li>
                        <li th:hidden="${userMap.get('user_type')} == '普通员工'? true:false ">
                            <a href="/addNotice">
                                <i class="iconfont">&#xe6a7;</i>
                                新增公告
                            </a>
                        </li>
                        <li>
                            <a href="/notice">
                                <i class="iconfont">&#xe6a7;</i>
                                轮播展示
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" th:hidden="${userMap.get('user_type')} == '超级管理员'? true:false ">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        订单管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" >
                        <li>
                            <a href="/queryOrderInfo">
                                <i class="iconfont">&#xe6a7;</i>
                                订单列表
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->

    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                <legend>个人信息</legend>
            </fieldset>
            <form class=" layui-form-pane">
                <div class="layui-form-item ">
                    <label class="layui-form-label ">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userId" autocomplete="off" placeholder="" class="layui-input" th:value="${userMap.get('user_id')}" readonly="readonly" id="userId">
                    </div>
                    <div class="layui-form-mid layui-word-aux">注：用户名唯一且不可变更！</div>
                </div>
                <div class="layui-form-item  layui-inline">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" autocomplete="on" placeholder="" class="layui-input" th:value="${userMap.get('user_name')}" id="userName">
                    </div>
                </div>
                <div class="layui-form-item layui-inline ">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userSex" autocomplete="on" placeholder="" class="layui-input" th:value="${userMap.get('user_sex')}" id="userSex">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="phone" autocomplete="on" placeholder="" class="layui-input" th:value="${userMap.get('phone')}" id="phone">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userAge" autocomplete="on" placeholder="" class="layui-input" th:value="${userMap.get('user_age')}" id="userAge">
                    </div>
                </div>

                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">加入时间</label>
                    <div class="layui-input-inline" >
                        <input type="text" name="time" autocomplete="on" placeholder="" class="layui-input" th:value="${userMap.get('time')}" id="time" onclick="layui.laydate({elem: this})">
                    </div>
                    <div class="layui-form-mid layui-word-aux">注：yyyy-MM-dd形式，其他形式将保存不成功</div>
                </div>


                <div class="layui-form-item " style="display: none">
                    <label class="layui-form-label">洗衣店Id</label>
                    <div class="layui-input-inline">
                        <input type="laundryId" name="laundryId" autocomplete="on" placeholder="" class="layui-input" th:value="${userMap.get('laundry_id')}" id="laundryId">
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label">所属洗衣店</label>
                    <div class="layui-input-inline">
                        <input type="text" name="laundryName" autocomplete="on" placeholder="" class="layui-input" th:value="${userMap.get('laundry_name')}" id="laundryName" readonly>
                    </div>
                    <div class="layui-form-mid layui-word-aux">注：您没有权限更改自己所在的洗衣店！</div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userType" autocomplete="on" placeholder="" class="layui-input" th:value="${userMap.get('user_type')}" id="userType" readonly="readonly">
                    </div>
                    <div class="layui-form-mid layui-word-aux">注：您没有权限更改自己的角色类型！</div>
                </div>
                <div class="layui-form-item ">
                    <button class="layui-btn" id="update" type="button">修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <a class="layui-btn"  lay-filter="ref" href="/userInfo" style="background: saddlebrown">刷新</a>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Welcome to chain laundry management system .    欢迎使用连锁洗衣店管理系统</div>
</div>
<!-- 底部结束 -->
<!-- 背景切换开始 -->
<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="./images/a.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/b.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/c.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/d.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/e.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/f.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/g.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/h.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/i.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/j.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/k.jpg" alt=""></div>
            <div class="swiper-slide"><span class="reset">初始化</span></div>
        </div>
    </div>
    <div class="bg-out"></div>
    <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
</div>
<!-- 背景切换结束 -->
<!-- 页面动态效果 -->
<script>
    //修改个人信息
    $(document).ready(function () {
        $("#update").click(function () {
            //获取信息
            var userId = document.getElementById("userId").value;
            var userName = document.getElementById("userName").value;
            var time = document.getElementById("time").value;
            var userAge = document.getElementById("userAge").value;
            var userSex = document.getElementById("userSex").value;
            var userType = document.getElementById("userType").value;
            var laundryName = document.getElementById("laundryName").value;
            var laundryId = document.getElementById("laundryId").value;
            var phone = document.getElementById("phone").value;
            // alert(time);
            $.ajax({
                type:"post",
                url:"/updateUserInfo",
                data: {
                    userId     ,
                    userName   ,
                    time       ,
                    userAge    ,
                    userSex    ,
                    userType   ,
                    laundryName,
                    laundryId  ,
                    phone
                },
                success:function (data) {
                    if(data == "success"){
                        layer.msg("修改成功！请点击刷新按钮");
                        // window.location.href = "settleIn";
                    }else if(data == "fail"){
                        layer.msg("修改失败！系统异常")
                    }
                },
                error:function(res){
                    console.log(res)
                }
            })
        })
    });


    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<style>
</style>
</body>
</html>