<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-aglin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ChainLaundry-处理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body>
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content" text-aglin:="center">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="L_username" required lay-verify="L_username"
                               th:value="${userList.get('user_name')}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_time" class="layui-form-label">
                        加入时间
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_time" name="L_time" required lay-verify="required"
                               th:value="${userList.get('time')}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_usertype" class="layui-form-label">
                        用户类型
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_usertype" name="L_usertype" th:value="${userList.get('user_type')}"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label for="L_evaluate" class="layui-form-label">
                        评&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价
                    </label>
                    <div class="layui-input-block">
                        <textarea th:placeholder="${userList.get('evaluate') == null ?'请您对此人进行评价':userList.get('evaluate')}" id="L_evaluate" name="L_evaluate" autocomplete="off"
                                  class="layui-textarea" style="height: 80px;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_evaluate" class="layui-form-label">
                    </label>
                    <button class="layui-btn" key="set-mine" lay-filter="save" lay-submit>
                        保存
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<script>
    //处理
    $(document).ready(function () {
        $("#startHandle").click(function () {

            // var stateName = document.getElementById("stateName").value;
            var laundryId = document.getElementById("laundryId").value;
            alert(laundryId);
            $.ajax({
                type:"post",
                url:"/updateStateByLaundryId",
                data: {
                    laundryId
                },
                success:function (data) {
                    if(data == "success"){
                        layer.msg("处理成功！");
                        // window.location.href = "settleIn";
                    }else if(data == "fail"){
                        layer.msg("处理失败！系统异常")
                    }
                },
                error:function(res){
                    console.log(res)
                }
            })
        })
    });




    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>